// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.paws{
    text-align: center;
}

.star > img {
    width: 100px;
    padding: 0 15px
}

.raty-cancel {
    display: none;
}