// Place all the styles related to the subjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbo-1 {
  background: url(https://s3-us-west-1.amazonaws.com/woofwoof/featured-product.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 50px 0;
  height: 450px;
}

#text-1 {
  vertical-align: middle;
  border: 10px solid #fff;
  padding: 30px;
  margin: 50px auto;
  width: 800px;
  text-align: center;
  color: #fff;
}

.jumbo-1 > #featured-1 {
  font-size: 5em;
  font-weight: 700;
}

.jumbo-1 > #featured-1-sub {
  font-size: 3em;
  font-weight: 700;
}

#jumbo-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.25em;
  transition: none;
}

#jumbo-link:hover {
  border-bottom: 2px solid #fff;
}

.jumbo-2 {
  background-color: #A53B3A;
  background-size: cover;
  margin: 0;
  padding: 40px 0;
  height: 600px;
}

#text-2 {
  vertical-align: middle;
  padding: 30px;
  margin: 50px auto;
  width: 800px;
  text-align: center;
  color: #fff;
}

#featured-2 {
  font-size: 20em;
  color: #fff;
}

#text-3 {
  vertical-align: middle;
  padding: 30px;
  margin: 0 auto;
  width: 90vw;
  text-align: center;
  color: #333;
}

.jumbo-3 {
  background-color: #fff;
  background-size: cover;
  margin: 0;
  padding: 50px 0;
}

#featured-2-1 {
  font-size: 7em;
  padding: 0 0 50px 0;
}

#featured-2-sub {
  font-size: 4em;
  padding: 0 150px;
  line-height: 1.25;
}

#featured-2-sub-sub {
  font-size: 2em;
  padding: 50px 125px;
  line-height: 1.5;
}

.subjects-row {
  padding: 15px 0;
  width: 92vw;
  margin: 0 auto;
}

.thumbnail {
  border-radius: 0px;
  padding: 15px;
  border: 1px solid #E8E8E8;
}

#start-new-review {
  line-height: 1.25;
  text-align: center;
  padding: 10px;
}

.subject-h4 {
  padding-top: 5px;
  line-height: 1.5;
  text-align: center;
}

.tests-row {
  width: 85vw;
  margin: 30px auto;
}

.test-photos {
  width: 75%;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  padding: 15px 0;
}

.img-src {
  font-size: .8em;
  text-align: center;
  padding: 10px 0;
}

.quote {
  font-size: 1.4em;
  line-height: 1.4;
  text-align: center;
  padding: 0 30px;
}

.author {
  font-size: 1.25em;
  padding: 15px 0;
  text-align: center;
}

.info-container {
  margin: 0 auto;
  text-align: center;
  padding: 50px 0;
}

.subject-img {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  max-height: 500px;
}

.reviews-container {
  padding: 50px 70px;
  background-color: #f6f6f6;
}

.reviews-thumbnail {
  background-color: #f6f6f6;
  padding:0;
  border-radius: 0px;
  border: none;
}
