<div class = "paws">
<h2>How many pawfives do you give this <%= @subject.category.singularize.downcase %>?</h2>
<%= rating_for @subject, "quality" %>
<div id = "paws-message"></div>
</div>
<%= link_to "Next", review_2_path(params[:subject_id]) %>